body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #007bff;  
}

 
h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}



p {
    color: #ffffff;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
 


 
